<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.44.129:3306/rain_user"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.rain.cloud.common.entity.user.dto" targetProject="D:\gitHubProject\microservice\rain-commons\src\main\java">
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers"  targetProject="src\main\resources"/>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.rain.cloud.user.dao"  targetProject="src\main\java"/>

<!--        <table tableName="institution_info" domainObjectName="InstitutionInfoDto" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" >
            <generatedKey column="inst_id" sqlStatement="Mysql"/>
        </table>-->
        <table tableName="user_info" domainObjectName="UserInfoDto" mapperName="IUserInfoDao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" >
            <generatedKey column="user_id" sqlStatement="Mysql"/>
        </table>
    </context>
</generatorConfiguration>